<!-- <app-pnavbar></app-pnavbar> -->
<app-sidenavbar></app-sidenavbar>
<div class="container-dash">
  <div class="form-posi">
    <ul class="ul-form">
      <li class="li">
        <a
          type="button"
          class="btn btn-info btn-lg"
          data-toggle="modal"
          data-target="#"
          (click)="show()"
          class="createBrand"
          >Create Product</a
        >
      </li>
    </ul>
  </div>

  <h2 class="allBrands">All Products</h2>

  <section class="ftco-section" style="margin-top: 50px;">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 col-lg-3 ftco-animate"
          style="margin-top: 20px;"
          *ngFor="let product of allProducts"
        >
          <div class="product noHover">
            <a class="img-prod"
              ><img
                class="img-fluid"
                src="{{ product.imageUrl }}"
                alt="photo"
              />
              <span class="status">1%</span>
              <div class="overlay"></div>
            </a>
            <div class="text py-3 pb-4 px-3 text-center">
              <h3>
                <a>{{ product.productName }}</a>
              </h3>
              <div class="d-flex">
                <div class="pricing">
                  <p class="price">
                    <span class="price-sale">&#8358;{{ product.price }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="button-class">
            <button (click)="delProduct_(product._id)">Delete</button>
            <button
              (click)="brandUpdateModal(product._id, product.productName)"
              data-dismiss="modal"
            >
              Update Product
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div
    [style.display]="createModal ? 'block' : 'none'"
    class="modal"
    id="imagemodal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Create Brand</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="registerForm">
            <div>
              <label for="productName">Product Name</label>
              <input
                class="pro-form"
                id="productName"
                type="text"
                formControlName="productName"
                required
              />
            </div>
            <div>
              <label for="imageUrl">Image Url</label>
              <input
                class="pro-form"
                type="file"
                accept=".png,.jpg"
                (change)="handleChange($event)"
                formControlName="imageUrl"
              />
            </div>
            <div>
              <label for="price">Price</label>
              <input
                class="pro-form"
                type="number"
                formControlName="price"
                required
              />
            </div>
            <div>
              <label for="description">Description</label>
              <input
                class="pro-form"
                type="text"
                formControlName="description"
                required
              />
            </div>
            <div>
              <label for="category">Category</label>
              <select
                class="pro-form"
                name="category"
                id="category"
                formControlName="category"
                required
              >
                <option
                  *ngFor="let category of cateId"
                  value="{{ category._id }}"
                >
                  {{ category.categoryName }}</option
                >
              </select>
            </div>
            <div>
              <label for="brand">Brand</label>
              <select
                class="pro-form"
                name="brand"
                id="brand"
                formControlName="brand"
              >
                <option value="{{ brand._id }}" *ngFor="let brand of brandId">{{
                  brand.brandName
                }}</option>
              </select>
            </div>
            <div>
              <label for="unit">Unit</label>
              <select
                class="pro-form"
                name="unit"
                id="unit"
                formControlName="unit"
              >
                <option value="{{ unit._id }}" *ngFor="let unit of unitId">{{
                  unit.unitName
                }}</option>
              </select>
            </div>
            <div></div>

            <button class="new-but" (click)="onSubmit(registerForm.value)">
              Save Product
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-dark new-but"
            data-dismiss="modal"
            (click)="hide()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    [style.display]="updateModal ? 'block' : 'none'"
    class="modal"
    id="imagemodal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Update Product</h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="registerForm" class="form-group" id="myForm">
            <div>
              <label for="productName">Product Name</label>
              <input
                class="pro-form"
                type="text"
                formControlName="productName"
              />
            </div>
            <div>
              <label for="imageUrl">Image Url</label>
              <input
                class="pro-form"
                type="file"
                accept=".png,.jpg"
                (change)="handleChange($event)"
                formControlName="imageUrl"
              />

            </div>
            <div>
              <label for="price">Price</label>
              <input class="pro-form" type="number" formControlName="price" />
            </div>
            <div>
              <label for="description">Description</label>
              <input
                class="pro-form"
                type="text"
                formControlName="description"
              />
            </div>
            <div>
              <label for="category">Category</label>
              <select
                class="pro-form"
                name="category"
                formControlName="category"
              >
                <option
                  *ngFor="let category of cateId"
                  value="{{ category._id }}"
                >
                  {{ category.categoryName }}</option
                >
              </select>
            </div>
            <div>
              <label for="brand">Brand</label>
              <select class="pro-form" name="brand" formControlName="brand">
                <option value="{{ brand._id }}" *ngFor="let brand of brandId">{{
                  brand.brandName
                }}</option>
              </select>
            </div>
            <div>
              <label for="unit">Unit</label>
              <select class="pro-form" name="unit" formControlName="unit">
                <option value="{{ unit._id }}" *ngFor="let unit of unitId">{{
                  unit.unitName
                }}</option>
              </select>
            </div>
            <div></div>

            <button
              class="new-but"
              (click)="doSubmitUpdate(registerForm.value)"
            >
              Save Product
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-dark new-but"
            data-dismiss="modal"
            (click)="hideUpdate()"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div> 
<!-- <app-footer></app-footer> -->