.ftco-category .category-wrap {
  display: block;
  width: 100%;
  height: 250px;
}
.ftco-category .category-wrap .text {
  background: #82ae46;
}
.ftco-category .category-wrap .text h2 {
  font-size: 18px;
  font-family: "Poppins", Arial, sans-serif;
}
.ftco-category .category-wrap .text h2 a {
  color: #fff;
}
.ftco-section {
  padding: 6em 0;
  position: relative;
}
.bask-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.bask-img2 {
  top: 275px;
  position: relative;
  object-fit: cover;
}

.p-pos {
  position: absolute;
}

.ftco-category .category-wrap-2 {
  width: 100%;
}
.ftco-category .category-wrap-2 .text {
  width: 100%;
}
.ftco-category .category-wrap-2 .text h2 {
  color: #82ae46;
  font-family: "Lora", Georgia, serif;
  font-style: italic;
  font-size: 24px;
}
.order-md-last {
  -webkit-box-ordinal-group: 14;
  -ms-flex-order: 13;
  order: 13;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  -ms-grid-row-align: stretch !important;
  align-self: stretch !important;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}
.btn.btn-primary {
  background: #82ae46;
  border: 1px solid #82ae46;
  color: #fff;
}
.btn.btn-primary:hover {
  border: 1px solid #82ae46;
  background: transparent;
  color: #82ae46;
}
.btn.btn-primary.btn-outline-primary {
  border: 1px solid #82ae46;
  background: transparent;
  color: #82ae46;
}
.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #82ae46;
  color: #fff;
}
.btn.btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #000000;
}
.btn.btn-white:hover {
  background: #82ae46;
  border: 1px solid #82ae46;
  color: #fff;
}
.btn.btn-white.btn-outline-white {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
}
.btn.btn-white.btn-outline-white:hover {
  border: 1px solid transparent;
  background: #82ae46;
  color: #fff;
}

.ftco-section {
  padding: 6em 0;
  position: relative;
}
.cart-img {
  height: 16px;
  width: 25px;
  position: relative;
  margin-bottom: 3px;
}

.heading-section {
  position: relative;
}
.text-center {
  text-align: center !important;
}
.heading-section .subheading {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
  font-family: "Lora", Georgia, serif;
  font-style: italic;
  color: #82ae46;
}
.fa {
  color: black !important;
}
.veggie{
  position: absolute;
    right: 2px;
}