<header class="pl-2 pr-2">
    <div class="row d-flx f-d-c j-c-sb al-i-c">
        <div class="search pos-rel">
            <!-- <img src="assets/images/icon_search.png" alt=""> -->
            <input type="text" placeholder="SEARCH" class="form-control m-0 br-0 bg-transparent no-shadow pl-2">
        </div>
        <div>
            <ul class="header-nav d-flx pull-right al-i-c">
                <li>
                    <a href="javascript:;" class="p-1 d-flx al-i-c notification pos-rel">
                        <!-- <img src="assets/images/icon_notificaiton.png" alt="eluzini"> -->
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>