.cart-img {
  height: 16px !important;
  width: 25px !important;
  position: relative !important;
  margin-bottom: 3px !important;
}

.veg-posi {
  position: relative;
  right: 150px;
}
.ul-style{
  position: relative;
  right: 45px;
}

.navbar-brand {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}

.modal-content {
  background-color: #a6d2a6 !important;
  opacity: 0.9 !important;
  width: 370px;
  height: auto;
  position: relative;
  margin-left: 75px;
  margin-top: 70px;
}
.create-link {
  position: absolute;
  color: black;
  left: 15px;
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  /* border: solid; */
  height: auto;
  width: 110px;
  font-size: 11px;
}

.loginNew {
  padding: 2px;
  background: #82ae46;
  border-radius: 7px;
  position: relative;
  bottom: 2px;
}

.login-font {
  margin-bottom: 4px;
  border: solid;
  padding: 0 10px;
  background: darkseagreen;
  height: 32px;
  // width: 56px;
  color: white;
  text-align: center;
  border-radius: 7px;
  cursor: pointer;
  margin-right: 34px;
}
.nav-up {
  position: fixed;
  height: 53px;
}

.nav-menu_ {
  position: absolute;
  right: 25px;
}
