.cart-img{
  height: 16px !important;
    width: 25px !important;
    position: relative !important;
    margin-bottom: 3px !important;
}

.navbar-brand {
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
}

.modal-content {
  background-color: #a6d2a6 !important;
  opacity: 0.9 !important;
  width: 370px;
  height: auto;
  position: relative;
  margin-left: 75px;
  margin-top: 70px;
}
.create-link {
  position: absolute;
  color: black;
  left: 15px;
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
  /* border: solid; */
  height: auto;
  width: 110px;
  font-size: 11px;
}