.buttonspinner {
    position: relative;
    width: 15px;
    height: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-right-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    float: right;
    -moz-animation: spin 2s infinite;
    -webkit-animation: spin 2s infinite;
    -ms-animation: spin 2s infinite;
    -o-animation: spin 2s infinite;
    margin-left: 15px;
    margin-top: 2px;
}
@-moz-keyframes spin {
    0% {
      -moz-transform: rotate(0deg);
    }
    20% {
      -moz-transform: rotate(-50deg);
    }
  
    80% {
      -moz-transform: rotate(780deg);
    }
    
    100% {
      -moz-transform: rotate(720deg);
    }
}
@-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
    20% {
      -webkit-transform: rotate(-50deg);
    }
    80% {
      -webkit-transform: rotate(780deg);
    }
    100% {
      -webkit-transform: rotate(720deg);
    }
}
@-ms-keyframes spin {
    0% {
      -ms-transform: rotate(0deg);
    }
    20% {
      -ms-transform: rotate(-50deg);
    }
    80% {
      -ms-transform: rotate(780deg);
    }
    100% {
      -ms-transform: rotate(720deg);
    }
}  
@-o-keyframes spin {
    0% {
      -o-transform: rotate(0deg);
    }
    20% {
      -o-transform: rotate(-50deg);
    }
    80% {
      -o-transform: rotate(780deg);
    }
    100% {
      -o-transform: rotate(720deg);
    }
}
