<!-- <app-pnavbar></app-pnavbar> -->
<app-sidenavbar></app-sidenavbar>
<div class="container-dash">
    <div class="form-posi">
        <ul class="ul-form">
            <li class="li"><a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#"
                    (click)="show()" class="createBrand">Create Unit</a></li>
            <!-- <li class="li"><a >Update Brand</a></li> -->
            <!-- <li class="li"><a >Delete Brand</a></li> -->
        </ul>
    </div>

    <div>
        <h2 class="allBrands">All Units</h2>
        <div class="disp-items">

            <div *ngFor="let unit of allUnit" class="listItems"> 
                <h2>{{unit.unitName}}</h2>
                <button (click)="delUnit(unit.id)">Delete</button>
                <button (click)= "brandUpdateModal(unit._id, unit.unitName)">Update Unit</button>
    
            </div>
        </div>
    </div>

    <div [style.display]="createModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create Unit</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="unitForm" (ngSubmit)="onSubmit(unitForm.value)">
                        <div class="form-group">
                            <label for="brand">Unit</label>
                            <input type="text" formControlName="unitName" class="form-control" placeholder="Unit name"
                                require />
                        </div>
                        <button type="submit" class="new-but" value="Log in">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark new-but" data-dismiss="modal" (click)="hide()">Close</button>

                </div>
            </div>
        </div>
    </div>


    <div [style.display]="updateModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true" >
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Update Unit</h4>
                </div>
                <div class="modal-body"  *ngIf="updateModal">
                    <form [formGroup]="unitForm" (ngSubmit)="onSubmitUpdate(unitForm.value)">
                        <div class="form-group">
                            <label for="brand">Unit</label>
                            <input type="text" formControlName="unitName" class="form-control" placeholder="{{unit}}"
                                require />
                        </div>
                        <button type="submit" class="" value="Log in">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hideUpdate()">Close</button>

                </div>
            </div>
        </div>
    </div>
    
</div>