<app-navbar></app-navbar>

<div >
  <img src="../../../assets/images/about.jpg" alt="photo" class="img-header">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center product-header">
        <p class="breadcrumbs"><span class="mr-2"><a routerLink= "/home">Home</a></span> <span>Products</span></p>
        <h1 class="mb-0 bread">Products</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section" style="margin-top: 50px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5 text-center">
        <ul class="product-category">
          <li><a href="#" class="active">All</a></li>
          <li><a href="#">Vegetables</a></li>
          <li><a href="#">Fruits</a></li>
          <li><a href="#">Juice</a></li>
          <li><a href="#">Dried</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate"
        *ngFor="let product of allProducts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="{{product.imageUrl}}" alt="photo">
            <span class="status">1%</span>
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="#">{{product.productName}}</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span class="mr-2 price-dc">$120.00</span><span
                    class="price-sale">${{product.price}}</span></p>
              </div>
            </div>

            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a routerLink="/single/{{product._id}}"
                  class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="ion-ios-menu"></i></span>
                </a>
                <a (click)=addToCart(product._id) class="buy-now d-flex justify-content-center align-items-center mx-1">
                  <span><img src="../../../assets/images/shopping-cart-black-shape.svg" alt="alternative"
                      class="cart-img"></span>
                  <!-- <i class="fas fa-shopping-cart"></i> -->
                </a>
                <a href="#" class="heart d-flex justify-content-center align-items-center ">
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <!-- <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li> -->
            <!-- <ngb-pagination [collectionSize]="products.length" [(page)]="page" [maxSize]="5" [rotate]="true"
              [ellipses]="false" [boundaryLinks]="true" ></ngb-pagination> -->
            <li>
              <ngb-pagination [collectionSize]="allProducts?.length" [(page)]="page" [maxSize]="5" [rotate]="true"
                [ellipses]="false" [boundaryLinks]="true" class="block-27"></ngb-pagination>
            </li>

          </ul>

          <!-- <table>
            <tr *ngFor="let product of allProducts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <td>{{product.name}}</td>
            </tr>
          </table>
          <ngb-pagination [collectionSize]="items.length" [(page)]="page" [maxSize]="5" [rotate]="true"
            [ellipses]="false" [boundaryLinks]="true"></ngb-pagination> -->
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>