.cart-img {
  height: 16px;
  width: 25px;
  position: relative;
  margin-bottom: 3px;
}
div.even > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-top: 48px;
  object-position: center;
}
.bread {
  font-size: 60px;
  line-height: 1;
  font-weight: bolder;
  display: grid;
}

.product-category li {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
}
.product-category li a {
  color: #82ae46;
  padding: 5px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.product-category li a.active {
  background: #82ae46;
  color: #fff;
}

:host::ng-deep .page-item.active .page-link {
  background: #82ae46 !important;
  color: #fff;
  border: 1px solid transparent;
}
:host::ng-deep .page-link ::ng-deep {
  color: #000000;
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 22px;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  background: #fff;
  margin-left: 5px;
}
:host::ng-deep .page-item:first-child .page-link {
  border-radius: 50% !important;
}
:host::ng-deep .page-item:last-child .page-link {
  border-radius: 50% !important;
}

// .page-item:first-child .page-link {
// }

// .img-header {
//   background-size: cover;
//   width: 100%;
//   height: 500px;
// }

.product-header {
  position: absolute;
  top: 190px;
}
.fa {
  color: black !important;
}
div.block-27 > ul {
  list-style: none;
  margin-left: 545px;
}
