<app-navbar></app-navbar>

<div class="even">
  <img src="../../../assets/images/about.jpg" alt="alternative" class="img-header">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center product-header">
        <!-- <p class="breadcrumbs"> <span style="font-size: 21px;">Products</span></p> -->
        <h1 class="mb-0 bread"><span>All</span> Products</h1>
      </div>
    </div>
  </div>
</div>
<section class="ftco-section" style="margin-top: 50px;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5 text-center">
        <ul class="product-category">
          <li><a class="active" (click)="doGetAllProducts()">All</a></li>
          <li><a>Vegetables</a></li>
          <li><a>Fruits</a></li>
          <li><a>Juice</a></li>
          <li><a>Dried</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate"
        *ngFor="let product of allProducts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <div class="product">
          <a  class="img-prod"><img class="img-fluid" src="{{product.imageUrl}}" alt="photo">
            <span class="status">1%</span>
            <div class="overlay"></div>
          </a>
          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a>{{product.productName}}</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span class="mr-2 price-dc">&#8358;120.00</span><span
                    class="price-sale">&#8358;{{product.price}}</span></p>
                    <h3 class="category-name">Category: {{product?.category.categoryName}}</h3>
              </div>
            </div>
            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a routerLink="/single/{{product._id}}"
                  class="add-to-cart d-flex justify-content-center align-items-center text-center">
                  <span><i class="fa fa-info" aria-hidden="true"></i></span>
                </a>
                <a (click)=addToCart(product._id) class="buy-now d-flex justify-content-center align-items-center mx-1">
                  <span><img src="../../../assets/images/shopping-cart-black-shape.svg" alt="alternative"
                      class="cart-img"></span>
                  <!-- <i class="fas fa-shopping-cart"></i> -->
                </a>
                <a  class="heart d-flex justify-content-center align-items-center ">
                  <!-- <span><i class="ion-ios-heart"></i></span> -->
                  <span><img src="../../../assets/images/heart-black.svg" alt="photo" class="cart-img"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27">
          <ul>
            <!-- <li><a >&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a >2</a></li>
            <li><a >3</a></li>
            <li><a >4</a></li>
            <li><a >5</a></li> -->
            <!-- <ngb-pagination [collectionSize]="products.length" [(page)]="page" [maxSize]="5" [rotate]="true"
              [ellipses]="false" [boundaryLinks]="true" ></ngb-pagination> -->
            <li>
              <ngb-pagination [collectionSize]="allProducts?.length" [(page)]="page" [maxSize]="5" [rotate]="true"
                [ellipses]="false" [boundaryLinks]="true" class="block-27"></ngb-pagination>
            </li>

          </ul>


          <!-- <table>
            <tr *ngFor="let product of allProducts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
              <td>{{product.name}}</td>
            </tr>
          </table>
          <ngb-pagination [collectionSize]="items.length" [(page)]="page" [maxSize]="5" [rotate]="true"
            [ellipses]="false" [boundaryLinks]="true"></ngb-pagination> -->
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>