<!-- <app-pnavbar></app-pnavbar> -->
<app-sidenavbar></app-sidenavbar>
<div class="container-dash">
    <div class="form-posi">
        <ul class="ul-form">
            <li class="li"><a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#"
                    (click)="show()" class="createBrand">Create Brand</a></li>
            <!-- <li class="li"><a >Update Brand</a></li>
            <li class="li"><a >Delete Brand</a></li> -->
        </ul>
    </div>

    <h2 class="allBrands">All Brands</h2>
    <div class="disp-items">
        <div *ngFor="let brand of allBrands" class="listItems">
            <div>
                <h2>{{brand.brandName}}</h2>
                <button (click)="delBrand(brand.id)">Delete</button>
                <button (click)= "brandUpdateModal(brand._id,brand.brandName)">Update Brand</button>
            </div>

        </div>
    </div>

    <div [style.display]="createModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create Brand</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="brandForm" (ngSubmit)="onSubmit(brandForm.value)">
                        <div class="form-group">
                            <label for="brand">Brand</label>
                            <input type="text" formControlName="brandName" class="form-control" placeholder="Brand Name" ng-reflect-name="Brand Name"
                                require />
                        </div>
                        <button type="submit" class="new-but" value="Log in">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark new-but" data-dismiss="modal" (click)="hide()">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div [style.display]="updateModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Update Brand</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="brandForm" (ngSubmit)="onSubmitUpdate(brandForm.value)">
                        <div class="form-group">
                            <label for="brand">Brand</label>
                            <input type="text" formControlName="brandName" class="form-control" placeholder="{{brand}}"
                                require />
                        </div>
                        <button type="submit" class="" value="Log in">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hideUpdate()">Close</button>

                </div>
            </div>
        </div>
    </div>
    
</div>