

.container-dash{
    margin-left: 250px;
    overflow: hidden;
    position: relative;
    bottom: 640px;
}
.allBrands{
    position: relative;
    margin-left: 300px;
    font-size: 50px;
    margin-bottom: 48px;
}
.createBrand{
    position: absolute;
    font-size: 22px;
    left: 550px;
    color: darkseagreen;
}

button {
    cursor: pointer;
    margin-right: 8px;
    font-size: 13px;
    background: #e8f7e8;
    border-radius: 10px;
    font-family: serif;
    border: 0;
}



.disp-items{
    display: flex;
    flex-flow: wrap;
}

.listItems{
    padding: 20px 30px;

}

.ul-form{
    position: relative;
    left: 30em;
    display: flex;
}

.li{

    padding: 0 55px;

}

.form-posi{
    position: relative;
    right: 20rem;
    padding: 50px 0;
}