.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .overflow1 {
    display: block;
    /* flex-flow: row wrap; */
    overflow: auto
  }

.testimony-section {
  position: relative;
}
.testimony-section .owl-carousel {
  margin: 0;
}
.testimony-section .owl-carousel .owl-stage-outer {
  padding-bottom: 2em;
  position: relative;
}
.testimony-section .owl-nav {
  position: absolute;
  top: 100%;
  width: 100%;
}
.testimony-section .owl-nav .owl-prev,
.testimony-section .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
  outline: none !important;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
}
.testimony-section .owl-nav .owl-prev span:before,
.testimony-section .owl-nav .owl-next span:before {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.testimony-section .owl-nav .owl-prev:hover span:before,
.testimony-section .owl-nav .owl-prev:focus span:before,
.testimony-section .owl-nav .owl-next:hover span:before,
.testimony-section .owl-nav .owl-next:focus span:before {
  color: #000000;
}
.testimony-section .owl-nav .owl-prev {
  left: 50%;
  margin-left: -80px;
}
.testimony-section .owl-nav .owl-next {
  right: 50%;
  margin-right: -80px;
}
.testimony-section:hover .owl-nav .owl-prev,
.testimony-section:hover .owl-nav .owl-next {
  opacity: 1;
}
.testimony-section:hover .owl-nav .owl-prev {
  left: 50%;
  margin-left: -80px;
}
.testimony-section:hover .owl-nav .owl-next {
  right: 50%;
  margin-right: -80px;
}
.testimony-section .owl-dots {
  text-align: center;
}
.testimony-section .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
}
.testimony-section .owl-dots .owl-dot.active {
  background: #82ae46;
}
.testimony-wrap {
  display: block;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.8);
}
.testimony-wrap .user-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin-top: -75px;
  margin: 0 auto;
}
.testimony-wrap .user-img .quote {
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.testimony-wrap .user-img .quote i {
  color: #82ae46;
}
.testimony-wrap .name {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 0;
  color: #000000;
}
.testimony-wrap .position {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.testimony-wrap .line {
  position: relative;
  border-left: 1px solid #e6e6e6;
}
.testimony-wrap .line:after {
  position: absolute;
  top: 50%;
  left: -2px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  width: 3px;
  height: 30px;
  background: #82ae46;
}
.p-4 {
  padding: 1.5rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }
  .pb-4,
.py-4 {
  padding-bottom: 1.5rem !important; }