<div class="sidebar box pos-fixed" style="position: absolute;">
  <div class="box-heading p-1h pt-1 pb-1">
    <div class="pos-rel" style="margin-top: 0.5rem; margin-bottom: 0.46rem;">
      <a href="javascript:;">
        <!-- <img src="../../../assets/images/menu.png" class="logo-img" alt="hankali"> -->
        <p class="logo-img ml-h inline" alt="hankali">Veggies</p>
      </a>
    </div>
  </div>

  <div class="box-content">
    <div class="pl-1h" style="color: seagreen;">
      <ul class="ml-h rs-list menu-list">
        <!-- <li class="mb-1 mt-1">
                    <a routerLink="/dashboard" routerLinkActive="active-link" class="ff-hind pos-rel">
                        <img src="assets/images/icon_dashboard.png" alt="">
                        <span>Dashboard</span>
                    </a>
                </li> -->
        <li class="mb-1 mt-1">
          <a
            routerLink="/dashboard"
            routerLinkActive="active-link"
            class="ff-hind pos-rel"
          >
            <!-- <img src="assets/images/icon_employees.png" alt=""> -->
            <span>Brands</span>
          </a>
        </li>
        <li class="mb-1 mt-1">
          <a
            href="javascript:;"
            routerLink="/unit"
            routerLinkActive="active-link"
            class="ff-hind pos-rel"
          >
            <!-- <img src="assets/images/icon_visitors.png" alt=""> -->
            <span>Unit</span>
          </a>
        </li>
        <li class="mb-1 mt-1">
          <a
            href="javascript:;"
            routerLink="/category"
            routerLinkActive="active-link"
            class="ff-hind pos-rel"
          >
            <!-- <img src="assets/images/icon_visitors.png" alt=""> -->
            <span>Category</span>
          </a>
        </li>
        <li class="mb-1 mt-1">
          <a
            href="javascript:;"
            routerLink="/product"
            routerLinkActive="active-link"
            class="ff-hind pos-rel"
          >
            <!-- <img src="assets/images/icon_visitors.png" alt=""> -->
            <span>Products</span>
          </a>
        </li>
      </ul>

      <hr class="mt-2 mb-2 divider" />

      <!-- <h4 class="ff-hind ml-h text-grey mt-1h f-14">ACCOUNT</h4> -->

      <ul class="ml-h rs-list menu-list">
        <li class="mb-1 mt-1">
          <a href="javascript:;" class="ff-hind pos-rel">
            <img src="assets/images/icon_help.png" alt="" />
            <span>Log Out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
