
@import '../../../assets/css/_generic.css';
@import '../../../assets/css/_generic.css';


.container-dash{
    position: relative;
    margin-left: 250px;
    border: solid;
    overflow: hidden;
}

.ul-form{
    position: relative;
    left: 30em;
    display: flex;
}

.li{

    padding: 0 55px;

}

.form-posi{
    position: relative;
    right: 20rem;
    padding: 50px 0;
}