



<app-sidenavbar></app-sidenavbar>
<div class="container-dash">
    <div class="form-posi">
        <ul class="ul-form">
            <li class="li"><a type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#"
                    (click)="show()" class="createBrand">Create Category</a></li>
            <!-- <li class="li"><a href="">Update Brand</a></li>
            <li class="li"><a href="">Delete Brand</a></li> -->
        </ul>
    </div>

    <h2 class="allBrands">All Category</h2>
    <div class="disp-items">
        <div *ngFor="let category of allCat" class="listItems">
            <div>
                <h2>{{category.categoryName}}</h2>
                <button (click)="delCategory(category.id)">Delete</button>
                <button (click)= "brandUpdateModal(category._id,category.categoryName)">Update Brand</button>
            </div>

        </div>
    </div>

    <div [style.display]="createModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Create Category</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit(categoryForm.value)">
                        <div class="form-group">
                            <label for="brand">Brand</label>
                            <input type="text" formControlName="categoryName" class="form-control" placeholder="Category Name" ng-reflect-name="Category Name"
                                require />
                        </div>
                        <button type="submit" class="" value="Log in">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hide()">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- <div [style.display]="updateModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Update Category</h4>
                </div>
                <div class="modal-body">
                    <form [formGroup]="categoryForm" (ngSubmit)="onSubmitUpdate(categoryName.value)">
                        <div class="form-group">
                            <label for="brand">Category</label>
                            <input type="text" formControlName="categoryName" class="form-control" placeholder="{{category}}"
                                require />
                        </div>
                        <button type="submit" class="" value="Log in">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="hideUpdate()">Close</button>

                </div>
            </div>
        </div>
    </div> -->
    
</div>