.img {
  vertical-align: middle;
  border-style: none;
  height: 439px;
  width: 100%;
}

.image-popup {
  height: 360px;
  width: 340px;
}

.posi {
  position: relative;
  /* top: -120px; */
  bottom: 285px;
}
.btn {
  background-color: darkseagreen;
  border-radius: 25px;
}

:host::ng-deep .star {
  float: right;
  padding: 10px;
  font-size: 14px !important;
  color: darkseagreen !important;
  }

  